<header class="header container">
    <a href="/"><img src="{{ 'assets/dist/images/logo.svg'|theme }}" alt="logo" class="logo"></a>
    <nav class="nav">
        <h2 class="hidden">Top navigation</h2>
        <ul id="nav_menu" class="nav__menu">
            <li><a href="#about">{{ 'About'|_ }}</a></li>
            <li><a href="#services">{{ 'Services'|_ }}</a></li>
            <li><a href="#pricing">{{ 'Pricing'|_ }}</a></li>
            <li><a href="#contact">{{ 'Contact'|_ }}</a></li>
        </ul>
        <button id="nav_menu_button" class="nav__menu-button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </nav>
</header>