<section class="hero container section mx-auto">
    <div class="hero__tagline">
        <div class="hero__tagline-content-wrap">
            <h2 class="hero__tagline-title" data-sal="fade">{{ this.theme.hero_title }}</h2>
            <p class="hero__tagline-subtitle" data-sal="fade" data-sal-delay="100">{{ this.theme.hero_subtitle }}</p>
            <p class="hero__tagline-text" data-sal="fade" data-sal-delay="200">{{ this.theme.hero_description }}</p>
            <a href="{{ this.theme.hero_button_url }}"><button class="btn btn--primary mt-8" data-sal="fade" data-sal-delay="300">{{ this.theme.hero_button_text }}</button></a>
        </div>
    </div>
    <div class="hero__image">
        <img src="{{ this.theme.hero_image ? this.theme.hero_image|media : 'assets/dist/images/hero.svg'|theme }}" class="mx-auto" alt="Hero Image" data-sal="slide-right" data-sal-delay="400" data-sal-duration="500">
    </div>
</section>