<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ this.page.meta_description|default(this.theme.description) }}">
<meta name="keywords" content="{{ this.theme.keywords }}">
<meta name="author" content="{{ this.theme.website_author }}">
<title>{{ this.page.title }}</title>
<link rel="canonical" href="{{ this.theme.website_url }}" />
<link rel="icon" type="image/png" href="{{ 'assets/dist/images/favicon.png'|theme }}" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,700|Rubik:400,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% if this.theme.disable_scroll_animation != '1' %}
    <link rel="stylesheet" href="{{ this.theme.override_color ? ['assets/dist/css/style.css','assets/dist/css/sal.css','assets/src/scss/style.scss']|theme :['assets/dist/css/style.css','assets/dist/css/sal.css']|theme }}">
{% else %}
    <link rel="stylesheet" href="{{ this.theme.override_color ? ['assets/dist/css/style.css','assets/src/scss/style.scss']|theme :'assets/dist/css/style.css'|theme }}">
{% endif %}